<div class="row mb-3">
  <div class="col-md-12">
   <a href="#" class="list-group-item clear-fix" (click)="onSelectBook()">
      <div class="float-left">
        <h4 class="list-group-item-heading">
          {{book.title}}
        </h4>
        <p class="list-group-item-text">
          {{book.author}}
        </p>
      </div>
      <div class="float-right">
        <img [src]="book.coverImagePath" alt="book image" class="img-responsive round" style="max-height: 50px;">
      </div>
    </a>
  </div>
</div>

